/* Write your code here. */
.bg-container {
  background-color: #0f172a;
  background-size: cover;
  height: 100%;
}
.heading {
  font-family: "Roboto";
  font-size: 46px;
  color: #f8fafc;
  text-align: center;
}
.image {
  height: 400px;
  width: 400px;
  align-items: center;
}
